
  <div class="profile-center"><!--真ん中寄せ-->
  <%= image_tag 'about_whatisiera.png'%><br>
  <p>インフルエンサー・エンジニア・ランキングの略称です。開発したきっかけなど。</p>
  <%= image_tag 'about_tukaikata.png'%><br>
  <p>使い方を表示。gif動画を表示させる予定。以下、例。</p>
   <%= image_tag 'test.gif'%><br>
  <%= image_tag 'about_blog.png'%><br>
  <a href="http://www.suminofu.com/">スミブロ</a>
  </div><!--真ん中寄せここまで-->