<h2>
    ブログ名について
</h2>

<div class="profile-center"><!--真ん中寄せ-->
<div style="margin-bottom: 20px;"><!--bottom余白用囲い-->
<p class="about-blog">What is イエラ?</p><!--ブログの説明（ピンクの囲い）-->
</div><!--bottom余白用囲いここまで-->


<h5>
    名前の由来
</h5>
<p>インフルエンサー・エンジニア・ランキングの略称です</p>


<h5>
    説明
</h5>
</div><!--真ん中寄せここまで-->
<div class="profile-center"><!--真ん中寄せ、フォローエリア-->
<span class="sns-btn__title"><br>技術ブログ</span><br>
<a href="http://www.suminofu.com/"><img src=".../assets/images/logo4.png" alt="スミブロ"></a>


</div><!--真ん中寄せ、フォローエリアここまで-->
<br>