
  <div class="profile-center"><!--真ん中寄せ-->
  <HR SIZE="10">
  <%= image_tag 'about_whatisiera2.png'%><br><br>
  <HR SIZE="10">
  <p>イエラは「インフルエンサー・エンジニア・ランキング」の略称です。</p>
  <p>Twitterユーザーさん(主に現役エンジニアの方々)をまとめたリストのタイムラインを取得し、</p>
  <p>1週間以内にのtweetされたものの中から、RTとお気に入りの数が多い順に表示します。</p>
  <HR SIZE="10">
  <%= image_tag 'about_howtouse.png'%><br>
  <HR SIZE="10">
  <p>作成中</p>

  <%= image_tag 'about_myblog.png'%><br>
  <HR SIZE="10">
  <p>ブログもはじめました。</p>
  <a href="http://www.suminofu.com/">スミブロ</a>
  <HR SIZE="10">
  </div><!--真ん中寄せここまで-->