<%# <span class="display-4">ログイン画面</span><br> %>

<% if user_signed_in? %> <!-- ユーザーがログインしているか調べる -->
  <!-- ユーザーがログインしていた時の処理 -->
  <span class="display-4">現在 <%= current_user.name %> さんがログインしています</span><br>
   <%= link_to "ランキングを表示", new_user_session_path, class: 'post' %>
<% else %>
  <!-- ユーザーがログインしていなかった時の処理 -->
  <span class="display-4">現在ログインしていません</span><br>
  <%= link_to "ログイン", new_user_session_path, class: 'post' %> <!-- ログイン画面に移行する -->
  <%= link_to "新規登録", new_user_registration_path, class: 'post' %> <!-- 新規登録画面に移行する -->
<% end %>