@import "bootstrap-sprockets";
@import "bootstrap";
@import "custom";

[class$="-contents"] {
  color:white;
  height:40px;
  font-size:1.6rem;
  text-align:center;
  line-height:10px;
}
.center-contents {
  background:#02aa86;
}
.p1{
  margin:15px 0 15px;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.sitename a{
  font-size: 1.0em;
  color: inherit;
}
   
  i{
  font-size: 1.0em;
  color: inherit;
  }
  ul {
    text-align: right;
  }
  li {
    display: inline;
  }

  @charset "UTF-8";

/*/////////////////////////////////////////////////
//twitter風チャット画面(会話方式)を記事に表示する方法
/////////////////////////////////////////////////*/

// color
$baseColor:   #02aa86; //ベースカラー

/*///////////////////////////////////////////////*/

.twitter__container {
  padding:0;
  background: #ffffff;
  overflow: hidden;
  max-width: 590px;
  margin: 0px auto;
  font-size: 100%;
  border: solid 1px #eeeeee;

  a {
    color: $baseColor;
  }

  /* タイトル部分 */
  .twitter__title {
    background: $baseColor;
    padding: 10px;
    text-align: center;
    font-size: 150%;
    color: #ffffff;

    .twitter-logo {
      margin:  0 auto;
      width: 20px;
      height: 20px;
      display: block;
      background: url(../images/twitter-logo.svg) center no-repeat;
    }

    span {
      font-size: 20px;
    }
  }

  /* タイムライン部分 */
  .twitter__contents {
    overflow: hidden;
    position: relative;
    line-height: 135%;

    &.scroll {
      // height: 500px;
      overflow-y: scroll;
    }

    .twitter__block {
      // width: 100%;
      display: block;
      padding: 10px;
      margin-bottom: 5px;
      border-bottom: solid 1px #eeeeee;
      overflow: hidden;

      &:last-child {
        border-bottom: solid 0px;
      }

      /* アイコン画像 */
      figure {
        width: 50px;
        padding: 0;
        margin: 0;
        float: left;
        width: 50px;

        /* 正方形を用意 */
        img{
          border-radius: 50%;
          width: 50px;
          height: 50px;
        }
      }
      /* コメントエリア */
      .twitter__block-text {
        margin: 0;
        position: relative;
        margin-left: 60px;
        padding-right: 10px;

        .name {
          font-weight: bold;
          a:hover { color:#8a9aa4; text-decoration:none }
          a:active { color:#8a9aa4; text-decoration:none }

          .name_reply {
            color: #8a9aa4;
            margin-left: 10px;
          }
          .overflow-ellipsis {
            text-overflow: ellipsis;
          }
        }

        .date {
          position: absolute;
          top:0;
          right: 20px;
          text-align:right;
          a:hover { color:#8a9aa4; text-decoration:none }
          a:active { color:#8a9aa4; text-decoration:none }
        }

        .text {
          margin: 5px 0;
          .in-pict img{
            border-radius: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            margin: 5px 0;
            width: 95%;
            height: 200px;
            object-fit: cover;
          }
        }

        /*///////////////////////////////////////////
        //埋め込みアイコン
        ////////////////////////////////////////////*/

        .twitter__icon {
          br {
            display: none;
          }
          $icons: 'twitter-bubble', 'twitter-heart', 'twitter-loop';
          @each $icon in $icons {
            .#{$icon} {
              width: 14px;
              height: 14px;
              display: block;
              padding-left: 20px;
              background: url('../images/' + $icon + '.svg') left no-repeat;
              width: 20%;
              float: right;
              color: #8a9aa4;
            }
          }
        }
      }
    }
  }
}


h2{
  font-size: 15px;
  font-family: Hiragino Maru Gothic ProN;
  color: #fff;
  text-align: center;
  margin-bottom: 17px;
}
#page_top{
  width: 90px;
  height: 90px;
  position: fixed;
  right: 0;
  bottom: 50px;
  opacity: 0.6;
}
#page_top a{
  position: relative;
  display: block;
  width: 90px;
  height: 90px;
  text-decoration: none;
}
#page_top a::before{
  font-family: FontAwesome;
  content: '\f102';
  font-size: 25px;
  color: #02aa86;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -40px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
#page_top a::after{
  content: 'PAGE TOP';
  font-size: 13px;
  color: #02aa86;
  position: absolute;
  top: 45px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}



img {
	width: 320px;
	height: 310px;
}




html {
  position: relative;
  min-height: 100%;
}
body {
}









/* Non essential CSS - Just for example centering */

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  }
  
  .center-outer {
  display: table;
  width: 100%;
  height: 100%;
  }
  
  .center-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  }
  
  /* Essential CSS - Makes the effect work */
  
  body {
  background-color: #ffffff;
  }
  
  .bubbles {
  display: inline-block;
  font-family: arial;
  position: relative;
  width: 100%;
  height: 100%;
  }
  
  .bubbles h1 {
  position: relative;
  margin: 1em 0 0;
  font-family: 'Luckiest Guy', cursive;
  color: #02aa86;
  z-index: 2;
  }
  
  .individual-bubble {
  position: absolute;
  border-radius: 100%;
  bottom: 10px;
  background-color: #02aa86;
  z-index: 1;
  }






  ul.sidenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: relative;
    overflow: auto;
    text-align: center;
  }
  ul.sidenav li a {
    display: block;
    color: #000000;
    padding: 8px 16px;
    text-decoration: none;
  }
  ul.sidenav li a.active {
    background-color: #da3c41;
    color: white;
  }
  ul.sidenav li a:hover:not(.active) {
    background-color: #02aa86;
    color: white;
  }
  div.content {
    margin-left: 25%;
    padding: 1px 16px;
    height: 1000px;
  }
  @media screen and (max-width: 5000px) {
    ul.sidenav {
      width: 100%;
      height: auto;
      position: relative;
    }
    ul.sidenav li a {
      float: center;
      padding: 15px;
    }
    div.content {
      margin-left: 1;
    }
  }
  @media screen and (max-width: 480px) {
    ul.sidenav li a {
      text-align: center;
      float: none;
    }
  }